.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16%;
    min-width: 170px;
    font-size: 0.75em;
    transition: all 0.3s ease-in-out;
}

.right .grupe {
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 2px;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative; 
}
.interval {
    width: 13px;
    height: 13px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    color: white;
    align-items: center;
    right: 0;
}
.loading {
    color: red;
    font-size: 2em;
}

.right .grupe:hover {
    transform: scale(1.05);
}

.right .grupe img {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in-out;
}


.right .grupe span {
    opacity: 0;
    max-height: 0; 
    transition: all 0.3s ease-in-out;
    position: absolute; 
    bottom: -20px; 
    visibility: hidden; 
    pointer-events: none; 
}

.right .grupe:hover span {
    opacity: 1;
    max-height: 50px; 
    visibility: visible; 
}




/* responsive 750px */
@media screen and (max-width: 720px) {
    .right .grupe2 {
        display: none;
    }
    .right .grupe2 {
        display: none;
    }
    .right {
        min-width:auto;
        justify-content: flex-end;
        gap: 25px;
    }
}

@media screen and (max-width: 550px) {
    .right .grupe span {
        display:none; /* Add this */
    }
 }

 .authorization_span_image {
    display: flex;
    flex-direction: column;
    align-items: center;
 }