.filter_nav_page_container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    gap: 10px;
}

@media (max-width:1350px) {
  .filter_nav_page_container  {
    padding-left: 5px;
    padding-right: 5px;
  }
}