

@media screen and (max-width: 750px) {
    .navigation_container {
        display: none;

    }
}
@media screen and (max-width: 1350px) {
    .navigation_container {
        font-size: 0.85em;

    }
}

.filter_container {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    row-gap: 15px;
    min-width: 200px;
    width: 20%;
}

.filter_box {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    border-top: 1px solid #DEE2E7;
    width: 100%;
}

.nav_head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.nav_head span {
    font-size: 1em;
    font-weight: 600;
}

.nav_head img.rotate {
    transform: rotate(180deg);
}

.filter_box ul li {
    display: flex;
    font-size: 1em;
    color: #505050;
    font-weight: 400;
    list-style-type: none;
   transition: all .2s ease-in-out;

}

.filter_box ul li:hover {
   transform: scale(1.01);
   background-color:#f5f5f5; 
}

.filter_box ul li input[type="checkbox"]:hover {
   background-color:#f5f5f5; 
}

.seeall {
   font-size: 1em;
   color:#0D6EFD; 
   font-weight:400; 

   transition: all .2s ease-in-out;

}

.seeall:hover {
   transform: scale(1.01);
   background-color:#f5f5f5; 
}

.nav_head img {
   transition: transform 0.3s ease;
}

.nav_head img.rotate {
    transform: rotate(180deg);
}
.filter_box ul li input {
    margin-right: 4px;
}
.filter_box ul {
   transform-origin: top;
   transition: transform 0.3s ease;

   /* Added cursor pointer */
   cursor:pointer; 
}

.filter_box.open ul {
   transform: scaleY(1);
}
