.nav_container {
    width: 100%;
}

.nav_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    margin-bottom: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}
.grid_list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.nav_box_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav_2 {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    background-color: white;
    border: 1px solid #DEE2E7;
    border-radius: 6px;
    padding: 10px;
}

@media screen and (max-width: 950px) {


}
@media screen and (max-width: 800px) {

    .nav_2 .product_img1 {
        width: 20%;
        min-width: 110px;
        padding: 10px;
    }
    .nav_2 .product_img1 img{
        width: 130px;
        height: 130px;
    }
    .nav_2 {
        width: 100%;
        font-size: 0.85em;
        padding: 10px;
        gap: 10px;
    }
    .nav_2 .prise_description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        
    }
    .nav_1 {
        font-size: 0.85em;
    }
    .filter_container {
        display: none;
    }
    .nav_1 .grid_list input {
        display: none;
    }
    .nav_1 .grid_list span {
        display: none;
        
    }
    
}
.product_img1 {
    width: 18%;
    min-width: 183px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_img1 img {
    width: 184px;
    height: 184px;
}

.prise_description {
    padding: 10px;
    width: 100%;


}



.prise_description .span1 {
    font-size: 1em;
    font-weight: 500;
    color: #1C1C1C;
}
.span_box {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.new_prise {
    font-size: 1.25em;
    font-weight: 600;
}
.old_prise {
    font-size: 1em;
    color: #8B96A5;
    font-weight: 600;
}
.rating_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    width: 100%;
}
.rating_star {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.order_info {
    display: flex;
    column-gap: 5px;
    align-items: center;
}
.order_info img {
    width: 6px;
    height: 6px;
}

.order_span {
    font-size: 1em;
    color: #8B96A5;
    font-weight: 400;
}
.free_span {
    color: #00B517;
    font-size: 0.7em;
    font-weight: 400;
}
@media (max-width:400px) {
    .spans_cont {
        font-size: 0.8em;
    }
}

.lorem {
    font-size: 1em;
    font-weight: 400;
}
.view_detail {
    font-size: 1em;
    color: #0D6EFD;
    font-weight: 500;
    cursor: pointer;
}
.spans_cont {
    padding-top: 10px;
    row-gap: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}