.sale_container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 250px;
    background-color: #F5F5F5;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 20px;   
}

.sale_timer {
    display: flex;
    width: 20%;
    min-width: 250px;
    height: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #DEE2E7;
}
.sale_elements {
    display: flex;
    white-space: nowrap;
    width: 80%;
    height: 100%;
    background-color: white;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    
}
.sale_elements::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
 
.sale_elements::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(177, 167, 167, 0.3); 
    
}
 
.sale_elements::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(177, 167, 167, 0.3); 
}

@media screen and (max-width: 1350px) {
    .sale_container {
        padding-left: 0;
        padding-right: 0;
    }   
}
@media screen and (max-width: 770px) {
    .sale_container{
        flex-direction: column;
        height: auto;
    }
    .sale_timer {
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
        border: none;
    }
    .sale_elements {
        padding-left: 10px;
        padding-bottom: 20px;
        width: 100%;
    }
}